@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  background: transparent; 
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in;
}
.navbarOnScrolling{
  background:white
}
.nav{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 47px;
}

.nav button{
  padding: 10px;
  position: relative;
}
.nav .animation {
  transition: all .5s ease 0s;
  border-radius: 8px;
  height: 100%;
  z-index: 0;
}

.animation1 {
 
  background-color: #1abc9c;
}

.animation2 {

  background-color: #e74c3c;
}

.animation3 {

  background-color: #26ff00;
}


.animation4 {

  background-color: #9b59b6;
}

.animation5 {

  background-color: #e67e22;
}
.animation6{

  background-color: #e67e22;
}


