@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainColor: #ff4638;
    --hoverMainColor: #ff3425;
  }
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(23, 23, 23);
}

::-webkit-scrollbar-thumb {
  background: #ff4638;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hoverMainColor);
  /* Set the color of the thumb on hover */
}

/* navbar style */
.header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 47px;
}

.navbarOnScrolling {
  background: #151414;
  opacity: 0.9;
}

.navbarOnScrolling::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav button {
  padding: 10px;
  position: relative;
  font-size: 20px;
  color: white;
}

.nav .animation {
  transition: all 0.5s ease;
  border-radius: 8px;
  height: 100%;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animation1 {
  transform: scale(1.1);
  background-image: url("../assets//images/background/backgroundHoverNavbarButton.png");
}

.animation2 {
  transform: scale(1.1);
  background-image: url("../assets//images/background/backgroundHoverNavbarButton.png");
}

.animation3 {
  transform: scale(1.1);
  background-image: url("../assets//images/background/backgroundHoverNavbarButton.png");
}

.animation4 {
  transform: scale(1.1);
  background-image: url("../assets//images/background/backgroundHoverNavbarButton.png");
}
/*navbar Mobile*/
.headerMobile{

    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease-in;
    padding-top: 10px;
    padding-bottom: 10px;
  
}
.toggle{
  position:relative;
  width:45px;
  height:45px;
  margin: 10px;
  background: rgba(138, 138, 138, 0.25);
  border-radius: 4px;
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
.toggle span{
  position:absolute;
  width:30px;
  height:2px;
  background:#ff4638;
  border-radius: 4px;
  transition:0.5s;
}
.toggle span:nth-child(1){
  transform:translateY(-15px);
  width:25px;
  left:13px;
  transition-delay:0.125s;
}
.toggle span:nth-child(2){
  transform:translateY(15px);
  width:15px;
  left:15px;
}
.toggle.active span:nth-child(3){
  transform: TranslateX(60px);
}
.toggle.active span:nth-child(1){
  width:30px;
  transform: translateY(0px) rotate(45deg);
  left:8px;
}
.toggle.active span:nth-child(2){
  width:30px;
  transform: translateY(0px) rotate(315deg);
  transition-delay:0.25s;
  left:8px;
}
.navMobile {
  width: 300px;
  background: rgba(138, 138, 138, 0.25);
  border-radius: 4px;
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  padding:10px;
  height:180px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.navbarOnScrollingMobile {
  background: #151414;
  opacity: 0.9;
}

.navbarOnScrollingMobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.navMobile button {
  padding: 2px;
  position: relative;
  font-size: 16px;
  color: white;
}

.navMobile .animation {
  transition: all 0.5s ease;
  border-radius: 8px;
  height: 100%;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbarActive{
  opacity: 0;
  height: 0px !important;
}
.navbarActive button:nth-child(1){
   transform: translateY(10px) ;
   opacity: 0;
   transition-delay:0.925s;

}
.navbarActive button:nth-child(2){
   transform: translateY(11%) ;
   transition-delay:0.925s;
}
.navbarActive button:nth-child(3){
   transform: translateY(10px) ;
   transition-delay:0.925s;
}
.navbarActive button:nth-child(4){
   transform: translateY(10px) ;
   transition-delay:0.925s;
}
/* home section */
.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/background/homeBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.RightHome {
  width: 100%;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titles {
  margin-bottom: 10px;
  color: white;
}

.titleName {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 1px;
}

.titleDeveloper {
  color: #ff4638;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.aboutMy {
  max-width: 700px;
}

.aboutMy p {
  font-size: 18;
  color: white;
  letter-spacing: 1.4px;
}

.leftHome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myImage {
  width: 60%;
}

.containerDownloadCv {
  display: flex;
  justify-content: start;
  padding-top: 20px;
}

.downloadCvButton {
  background-color: #ff4638;
  padding: 6px 8px;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

.downloadCvButton:hover {
  background-color: var(--hoverMainColor);
}

/* projects section */
.projects {
  height: 100%;
  background-image: url("../assets//images/background/backgroundSections.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 30px;
  position: relative;
}

.billProjects {
  position: absolute;
  top: 2%;
  right: 2%;

  z-index: 20;
}

.billProjectsEmpty {
  width: 200px;
}

.billProjectsWithNoiseContainer {
  position: relative;
  z-index: 0;
}

.billProjectsWithNoise {
  position: absolute;
  top: 20%;
  right: 18%;
  z-index: -20;
}

.billProjectWithNoise {
  z-index: 20;
  width: 280px;
}

.projectContainer {
  width: 100%;
  border-radius: 6px;
  display: flex;
  background: rgba(138, 138, 138, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border-top: 1px solid #ff4638;
  border-right: 1px solid #ff4638;
  border-left: 1px solid #ff4638;
  border-radius: 30px;
  padding: 14px;
}
.projectSlideContainerAnimation{
  width: 100%;
  display: flex;
  background: rgba(138, 138, 138, 0.25);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  position: absolute;
  z-index:100;
  top:0;
  bottom:0;
  left:0 ;
  right:0;

}
.rightProject {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageProjectContainer {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imageProject {
  width: 100%;
  border-radius: 20px;
}

.leftContainer {
  padding-left: 18px;
  display: flex;
  flex-direction: column;
}

.leftProjectContainer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.leftProjectContainer h1 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 6px;
  color: white;
}

.leftProjectContainer p {
  font-size: 15px;
  color: white;
  padding-bottom: 6px;
}

.containerButtonProject {
  padding-top: 10px;
}

.containerTitleProject {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.containerTitleProject h1 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 10px;
}

/* skills */
.Skills {
  height: 100%;
  background-image: url("../assets//images/background/backgroundSections.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
}

.skillContainer {
  height: 100%;
  display: flex;
  position: relative;
  padding-top: 20px;
}

.iconSkill {
  position: absolute;
  bottom: 25%;
}

.titleOfSkills {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 11%;

  background-image: url("../assets/images/background/backgroundSkills.png");
  color: white;
  border-radius: 10px;
}

.titleOfSkillsLong {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  padding-left: 24%;
  align-items: center;
  background-image: url("../assets/images/background/backgroundSkills.png");
  color: white;
  border-radius: 10px;
}

.skilltest {
  padding: 17px;
}

.titleOfSkillsLong h2 {
  font-size: 23px;
  font-weight: 600px;
  border-radius: 6px;
  letter-spacing: 1.4px;
}

.titleOfSkills h2 {
  font-size: 26px;
  font-weight: 500px;
  border-radius: 6px;
  letter-spacing: 1.4px;
}

.contentSkills {
  display: flex;
  width: 100%;
  padding: 10px;
}

.ImageContainerSkills {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 5px;
}

.imageSkills {
  width: 400px;
  transform: scaleX(-1);
}

.tinySkills {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tinySkills h2 {
  font-size: 24px;
  color: white;
  font-weight: 500;
  padding-bottom: 10px;
}

.tinySkills p {
  color: #6c6c6c;
  font-size: 20px;
}

.containerContentSkills {
  display: flex;
  flex-direction: column;
}

.containerContentOneSkills {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact section */
.contact {
  height: 100%;
  background-image: url("../assets//images/background/backgroundSections.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.containerTitle p {
  font-size: 16px;
  color: #7d7d7d;
}

.containerTitle h1 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}

.iconsSocialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}
.iconsSocialMedia svg {
  width: 100px;
}

/* media  */

@media only screen and (min-width: 111px) and (max-width: 370px) {
   /* navbar-large-extra */
   .home{
    display: flex;
    flex-direction: column;
  }
  .nav button {
    padding: 7px;
    position: relative;
    font-size: 16px;
    color: white;
  }
  /* home-large-extra */
  .RightHome{
    padding-left: 10px;
  }
  .titleName {
    font-size: 18px;
    font-weight: 600;
  }
  .titleDeveloper {
    font-size: 18px;
    font-weight: 600;
  }
  .aboutMy {
    max-width: 350px;
  }
  .aboutMy p {
    font-size: 12px;
  }
  .myImage{
    width:60%;
  }
  .containerDownloadCv{
  padding-top: 16px;

  }
  .downloadCvButton {
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 500;
  }
  /* projects-large-extra */
  .projects {
    padding: 0px 30px;
  }
  /* come back */
  .billProjectsEmpty {
    width: 140px;
    display:none;
  }
  .billProjectsWithNoise {
    position: absolute;
    top: 26%;
    right: 12%;
    z-index: -20;
    display: none;
  }
  .billProjectWithNoise{
    width: 190px;
  }
  .projectContainer {
    padding: 12px;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    border-radius: 12px;
  }
  .imageProjectContainer {
    width: 330px;
    border-radius: 10px;
  }
  .imageProject{
    border-radius: 10px;
  }
  .leftContainer {
    padding-left: 2px;
  }
  .leftProjectContainer h1 {
    font-size: 16px;
    padding-top: 8px;
  }
  .leftProjectContainer p {
    font-size: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient:vertical;
    overflow:hidden;
    overflow-y: scroll;
}
.leftProjectContainer p::-webkit-scrollbar {
  display: none;
}
  .containerTitleProject h1 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  /* skills-extra */
  .Skills {
    gap: 1px;
  }
  .iconsSkillsImages{
    width:40px
  }
  .iconSkill {
    bottom: 40%;
    left: 8%;
  }
  .titleOfSkills{
    width: 120px;
    height: 40px;
  }
  .titleOfSkills h2 {
    font-size: 16px;
    font-weight: 500px;
  }
  .titleOfSkillsLong{
    width: 200px;
    height: 40px;
  }
  .titleOfSkillsLong h2 {
    font-size: 16px;
    padding-right: 24px;
    font-weight: 600px;
  }
  .contentSkills {
    padding: 4px;
  }
  .ImageContainerSkills {
    padding: 4px;
  }
  .imageSkills {
    width: 310px;
  }
  .contentSkills{
    display: flex;
    flex-direction: column;
  }
  .ImageContainerSkills img{
    width: 200px;
  }
  .tinySkills{
    padding-right:14px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .tinySkills h2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 0px;
    padding-top: 14px;
  }
  .tinySkills p {
    font-size: 14px;
    max-width: 600px;
  }
  /* contact-extra */
  .containerTitle p {
    font-size: 14px;
    padding-top: 20px;
  }
  .containerTitle h1 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 0px;
  }
  .iconsSocialMedia{
    padding-bottom: 10px;
    padding-top: 0px;
  }
  .iconsSocialMedia svg {
    width: 70px;
  }

}
@media only screen and (min-width: 370px) and (max-width: 570px) {
    /* navbar-large-extra */
    .home{
      display: flex;
      flex-direction: column;
    }
    .nav button {
      padding: 7px;
      position: relative;
      font-size: 16px;
      color: white;
    }
    /* home-large-extra */
    .RightHome{
     padding-left: 0px;
    }
    .titleName {
      font-size: 18px;
      font-weight: 600;
    }
    .titleDeveloper {
      font-size: 18px;
      font-weight: 600;
    }
    .aboutMy {
      max-width: 350px;
    }
    .aboutMy p {
      font-size: 12px;
    }
    .myImage{
      width:60%;
    }
    .containerDownloadCv{
    padding-top: 16px;
  
    }
    .downloadCvButton {
      padding: 5px 7px;
      font-size: 14px;
      font-weight: 500;
    }
    /* projects-large-extra */
    .projects {
      padding: 0px 30px;
    }
    /* come back */
    .billProjectsEmpty {
      width: 140px;
      display:none;
    }
    .billProjectsWithNoise {
      position: absolute;
      top: 26%;
      right: 12%;
      z-index: -20;
      display: none;
    }
    .billProjectWithNoise{
      width: 190px;
    }
    .projectContainer {
      padding: 12px;
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      border-radius: 12px;
    }
    .imageProjectContainer {
      width: 330px;
      border-radius: 10px;
    }
    .imageProject{
      border-radius: 10px;
    }
    .leftContainer {
      padding-left: 2px;
    }
    .leftProjectContainer h1 {
      font-size: 16px;
      padding-top: 8px;
    }
    .leftProjectContainer p {
      font-size: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient:vertical;
      overflow:hidden;
      overflow-y: scroll;
  }
  .leftProjectContainer p::-webkit-scrollbar {
    display: none;
  }
    .containerTitleProject h1 {
      font-size: 16px;
      font-weight: 500;
      padding-top: 60px;
      padding-bottom: 10px;
    }
    /* skills-extra */
    .Skills {
      gap: 1px;
    }
    .iconsSkillsImages{
      width:40px
    }
    .iconSkill {
      bottom: 40%;
      left: 8%;
    }
    .titleOfSkills{
      width: 120px;
      height: 40px;
    }
    .titleOfSkills h2 {
      font-size: 16px;
      font-weight: 500px;
    }
    .titleOfSkillsLong{
      width: 200px;
      height: 40px;
    }
    .titleOfSkillsLong h2 {
      font-size: 16px;
      padding-right: 24px;
      font-weight: 600px;
    }
    .contentSkills {
      padding: 4px;
    }
    .ImageContainerSkills {
      padding: 4px;
    }
    .imageSkills {
      width: 310px;
    }
    .contentSkills{
      display: flex;
      flex-direction: column;
    }
    .ImageContainerSkills img{
      width: 200px;
    }
    .tinySkills{
      padding-right:14px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
    }
    
    .tinySkills h2 {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 0px;
      padding-top: 14px;
    }
    .tinySkills p {
      font-size: 14px;
      max-width: 600px;
    }
    /* contact-extra */
    .containerTitle p {
      font-size: 14px;
      padding-top: 20px;
    }
    .containerTitle h1 {
      font-size: 20px;
      font-weight: 500;
      padding-top: 6px;
      padding-bottom: 0px;
    }
    .iconsSocialMedia{
      padding-bottom: 10px;
      padding-top: 0px;
    }
    .iconsSocialMedia svg {
      width: 70px;
    }
  
}
@media only screen and (min-width: 570px) and (max-width: 770px) {
  /* navbar-large-extra */
  .nav button {
    padding: 7px;
    position: relative;
    font-size: 16px;
    color: white;
  }
  /* home-large-extra */
  .titleName {
    font-size: 20px;
    font-weight: 600;
  }
  .titleDeveloper {
    font-size: 20px;
    font-weight: 600;
  }
  .aboutMy {
    max-width: 350px;
  }
  .aboutMy p {
    font-size: 14px;
  }
  .myImage{
    width:85%;
  }
  .containerDownloadCv{
  padding-top: 16px;

  }
  .downloadCvButton {
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 500;
  }
  /* projects-large-extra */
  .projects {
    padding: 0px 30px;
  }
  /* come back */
  .billProjectsEmpty {
    width: 140px;
    display:none;
  }
  .billProjectsWithNoise {
    position: absolute;
    top: 26%;
    right: 12%;
    z-index: -20;
    display: none;
  }
  .billProjectWithNoise{
    width: 190px;
  }
  .projectContainer {
    padding: 12px;
  }
  .imageProjectContainer {
    width: 300px;
  }
  .leftContainer {
    padding-left: 16px;
  }
  .leftProjectContainer h1 {
    font-size: 14px;
  }
  .leftProjectContainer p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient:vertical;
    overflow:hidden;
    overflow-y: scroll;
  


}
.leftProjectContainer p::-webkit-scrollbar {
  display: none;
}
  .containerTitleProject h1 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  /* skills-extra */
  .Skills {
    gap: 2px;
  }
  .iconsSkillsImages{
    width:60px
  }
  .iconSkill {
    bottom: 29%;
  }
  .titleOfSkills{
    width: 160px;
    height: 40px;
  }
  .titleOfSkills h2 {
    font-size: 18px;
    font-weight: 500px;
  }
  .titleOfSkillsLong{
    width: 230px;
    height: 40px;
  }
  .titleOfSkillsLong h2 {
    font-size: 18px;
    padding-right: 20px;
    font-weight: 600px;
  }
  .contentSkills {
    padding: 4px;
  }
  .ImageContainerSkills {
    padding: 4px;
  }
  .imageSkills {
    width: 310px;
  }
  .tinySkills{
    padding-right:14px;
  }
  .tinySkills h2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
  }
  .tinySkills p {
    font-size: 14px;
    max-width: 600px;
  }
  /* contact-extra */
  .containerTitle p {
    font-size: 14px;
    padding-top: 10px;
  }
  .containerTitle h1 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 22px;
    padding-bottom: 12px;
  }
  .iconsSocialMedia svg {
    width: 86px;
  }
}
@media  (min-width: 770px) and (max-width: 992px) {
  /* navbar-large-extra */
  .nav button {
    padding: 8px;
    position: relative;
    font-size: 18px;
    color: white;
  }
  /* home-large-extra */
  .titleName {
    font-size: 20px;
    font-weight: 700;
  }
  .titleDeveloper {
    font-size: 20px;
    font-weight: 600;
  }
  .aboutMy {
    max-width: 350px;
  }
  .aboutMy p {
    font-size: 14px;
  }
  .myImage{
    width:85%;
  }
  .containerDownloadCv{
  padding-top: 16px;

  }
  .downloadCvButton {
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 500;
  }
  /* projects-large-extra */
  .projects {
    padding: 0px 30px;
  }
  .billProjectsEmpty {
    width: 160px;
  }
  .billProjectsWithNoise {
    position: absolute;
    top: 26%;
    right: 18%;
    z-index: -20;
  }
  .billProjectWithNoise{
    width: 200px;
  }
  .projectContainer {
    padding: 12px;
  }
  .imageProjectContainer {
    width: 300px;
  }
  .leftContainer {
    padding-left: 16px;
  }
  .leftProjectContainer h1 {
    font-size: 14px;
  }
  .leftProjectContainer p {
    font-size: 12px;
  }
  .containerTitleProject h1 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 70px;
    padding-bottom: 10px;
  }
  /* skills-extra */
  .Skills {
    gap: 18px;
  }
  .iconsSkillsImages{
    width:80px
  }
  .iconSkill {
    bottom: 29%;
  }
  .titleOfSkills{
    width: 200px;
    height: 50px;
  }
  .titleOfSkills h2 {
    font-size: 22px;
    font-weight: 500px;
  }
  .titleOfSkillsLong{
    height: 50px;
    padding-left:50px;
    width: 240px;

  }
  .titleOfSkillsLong h2 {
    font-size: 18px;
    padding-right: 20px;
  }
  .contentSkills {
    padding: 8px;
  }
  .ImageContainerSkills {
    padding: 6px;
  }
  .imageSkills {
    width: 300px;
  }
  .tinySkills h2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
  }
  .tinySkills p {
    font-size: 14px;
  }
  /* contact-extra */
  .containerTitle p {
    font-size: 16px;
    padding-top: 10px;
  }
  .containerTitle h1 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 22px;
    padding-bottom: 12px;
  }
  .iconsSocialMedia svg {
    width: 90px;
  }
  
}

@media only screen and (min-width: 1800px) {
  /* navbar-large-extra */
  .nav button {
    padding: 14px;
    position: relative;
    font-size: 23px;
    color: white;
  }
  /* home-large-extra */
  .titleName {
    font-size: 42px;
    font-weight: 900;
  }
  .titleDeveloper {
    font-size: 30px;
    font-weight: 800;
  }
  .aboutMy {
    max-width: 900px;
  }
  .aboutMy p {
    font-size: 24px;
  }
  .downloadCvButton {
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 500;
  }
  /* projects-large-extra */
  .projects {
    padding: 0px 40px;
  }
  .projectContainer {
    padding: 18px;
  }
  .imageProjectContainer {
    width: 430px;
  }
  .leftContainer {
    padding-left: 22px;
  }
  .leftProjectContainer h1 {
    font-size: 22px;
  }
  .leftProjectContainer p {
    font-size: 18px;
  }
  .containerTitleProject h1 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 90px;
    padding-bottom: 15px;
  }
  /* skills-extra */
  .Skills {
    gap: 22px;
  }
  .iconSkill {
    bottom: 30%;
  }
  .titleOfSkills h2 {
    font-size: 30px;
    font-weight: 500px;
  }
  .titleOfSkillsLong h2 {
    font-size: 26px;
    font-weight: 600px;
  }
  .contentSkills {
    padding: 16px;
  }
  .ImageContainerSkills {
    padding: 8px;
  }
  .imageSkills {
    width: 450px;
  }
  .tinySkills h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .tinySkills p {
    font-size: 24px;
  }
  /* contact-extra */
  .containerTitle p {
    font-size: 20px;
  }
  ..containerTitle h1 {
    font-size: 32px;
    font-weight: 600;
    padding-top: 22px;
    padding-bottom: 12px;
  }
  .iconsSocialMedia svg {
    width: 140px;
  }
}
